@font-face {
  font-family: Fofer;
  src: url(http://lihq.me/fonts/Fofer.otf);
}

.wy-side-nav-search, .wy-nav-top {
  background-color: #0275d8;
}

.wy-nav-top {
  line-height: 30px;
  font-family: Fofer, cursive;
  font-size: 2em;
  box-shadow: 0px -1px 7px black;
}

.wy-side-nav-search .icon.icon-home {
  font-family: Fofer, cursive;
  font-size: 2em;
  margin-bottom: 10px;
}

.wy-side-nav-search .version,
.wy-side-nav-search .icon.icon-home::before {
  display: none;
}

.wy-nav-content {
   max-width: 1000px
}

p.caption > .caption-text {
  color: rgba(255,255,255,0.8);
}

.toctree-wrapper p.caption > .caption-text {
  color: black;
}

body, p, h4, h5, h6, input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

a {
  color: #0275d8;
}

.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: normal;
}