@font-face {
  font-family: Fofer;
  src: url(http://lihq.me/fonts/Fofer.otf);
}

.wy-side-nav-search {
  background-color: #0275d8;
}

.wy-side-nav-search .icon.icon-home {
  font-family: Fofer, cursive;
  line-height: 50px;
  font-size: 2em;
}
.wy-side-nav-search .icon.icon-home::before {
  font-size: 18px;
}

.wy-nav-content {
   max-width: 1000px
}

p.caption > .caption-text {
  color: rgba(255,255,255,0.8);
}

body, p, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

a {
  color: #0275d8;
}